body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.restaurant-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 30px;
}

.location-select-container {
  margin: 20px 0;
}

.restaurant-list {
  padding: 20px;
  margin-top: 30px;
  height: calc(100vh - 150px);
  overflow-y: auto;
}

.restaurant-item {
  background-color: #fff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

.restaurant-item:hover {
  transform: translateY(-5px);
}

.restaurant-image img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-radius: 10px;
}

.restaurant-info {
  margin-top: 10px;
  text-align: center;
}

.restaurant-info h3 {
  margin: 10px 0;
  font-size: 1.5rem;
  color: #333;
}

.restaurant-info p {
  margin: 5px 0;
  color: #666;
}

.rating-stars {
  margin-top: 10px;
  font-size: 1.2rem;
}

.rating-stars span {
  cursor: pointer;
  color: gray;
  margin: 0 2px;
}

.rating-stars span:hover {
  color: gold;
}

.location-select {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: white;
  cursor: pointer;
  width: 200px;
}

/* For responsiveness */
@media (max-width: 800px) {
  .restaurant-item {
    width: 100%;
  }
}
